<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.data">
<suite name="OrangeHRMSuite" parallel="classes" thread-count="5">
    <test name="OrangeHRMTest">
        <classes>
            <class name="com.orangehrm.test.DummyClass"/>
            <class name="com.orangehrm.test.DummyClass2"/>
            <class name="com.orangehrm.test.LoginPageTest"/>
            <class name="com.orangehrm.test.HomePageTest"/>
        </classes>
    </test>
</suite>